@import url("https://fonts.googleapis.com/css2?family=Splash&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arima&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-attachment: fixed;
  overflow-x: hidden;
  background-color: #FCF8E8;
}

.bg_img {
  background-image: url(../img/bg/bg_x.png);
  background-repeat: no-repeat;
  width: 100%;
}

.banner {
  display: flex;
  justify-content: center;
  background: radial-gradient(circle, rgb(189, 142, 113) 71%, rgb(216, 206, 165) 100%);
}
.banner img {
  width: 70%;
}

.bg-deco {
  background: linear-gradient(90deg, rgb(216, 206, 165) 0%, rgb(189, 142, 113) 51%);
}

.navf {
  display: flex;
  align-items: center;
  justify-content: center;
}

nav {
  width: 100%;
}
nav img {
  width: 25%;
  margin-right: 30px;
}
nav ul li a {
  font-size: 1.5rem;
  font-family: sans-serif;
  margin-left: 5px;
}

/* Galeria */
.galeria-container {
  display: flex;
  margin: 3% 2% 2% 2%;
  padding: 1% 2%;
  flex-wrap: wrap;
  background: radial-gradient(circle, rgb(252, 248, 232) 0%, rgb(189, 142, 113) 38%);
  border-radius: 10px;
}

.galeria {
  flex: 50%;
  padding: 5px;
}

.galeria__img {
  width: 100%;
  border-radius: 5px;
  margin-top: 1%;
}

.galeria-body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.galeria-bt {
  width: 100%;
}
.galeria-bt img {
  width: 200%;
}

/* Productos */
.main__producto {
  margin: 0 3% 3% 3%;
  border-radius: 10px;
  background-color: #bd8e71;
}

.carrusel-body h2 {
  color: #FCF8E8;
  font-size: 26px;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  margin: 30px 0 60px;
  font-family: "Arima", cursive;
}
.carrusel-body h2:after {
  content: "";
  width: 100px;
  position: absolute;
  margin: 0 auto;
  height: 4px;
  border-radius: 1px;
  background: #ab4493;
  left: 0;
  right: 0;
  bottom: -20px;
}

.carousel {
  margin: 50px auto;
  padding: 0 70px;
}
.carousel .thumb-wrapper {
  padding: 25px 15px;
  background: #FCF8E8;
  border-radius: 6px;
  text-align: center;
  position: relative;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}
.carousel .item {
  color: #747d89;
  min-height: 325px;
  text-align: center;
  overflow: hidden;
}
.carousel .item img {
  max-width: 100%;
  max-height: 100%;
  display: inline-block;
  position: absolute;
  bottom: 0;
  margin: 0 auto;
  left: 0;
  right: 0;
  border-radius: 10px;
}
.carousel .item h4 {
  font-size: 18px;
  font-family: "Arima", cursive;
}
.carousel .item h4,
.carousel .item p,
.carousel .item ul {
  margin-bottom: 5px;
}
.carousel .item .img-box {
  height: 220px;
  margin-bottom: 20px;
  width: 100%;
  position: relative;
}
.carousel .thumb-content .btn {
  color: #ab4493;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: bold;
  background: none;
  border: 1px solid #ab4493;
  padding: 6px 14px;
  margin-top: 5px;
  line-height: 16px;
  border-radius: 20px;
}
.carousel .thumb-content .btn i {
  font-size: 14px;
  font-weight: bold;
  margin-left: 5px;
}
.carousel .thumb-content .btn:hover, .carousel .thumb-content .btn:focus {
  color: whitesmoke;
  background: #ab4493;
  box-shadow: none;
}
.carousel .item-price {
  font-size: 13px;
  padding: 2px 0;
}
.carousel .item-price strike {
  opacity: 0.7;
  margin-right: 5px;
}

.carousel-control-prev,
.carousel-control-next {
  height: 44px;
  width: auto;
  background: #ab4493;
  margin: auto 0;
  border-radius: 360px;
  opacity: 0.8;
}
.carousel-control-prev i,
.carousel-control-next i {
  font-size: 36px;
  position: absolute;
  top: 50%;
  display: inline-block;
  margin: -19px 0 0 0;
  z-index: 5;
  left: 0;
  right: 0;
  color: whitesmoke;
  text-shadow: none;
  font-weight: bold;
}
.carousel-control-prev:hover,
.carousel-control-next:hover {
  background: #ab4493;
  opacity: 1;
}

.carousel-control-prev i {
  margin-left: -2px;
}

.carousel-control-next i {
  margin-right: -4px;
}

.carousel .wish-icon {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 99;
  cursor: pointer;
  font-size: 16px;
  color: #abb0b8;
}
.carousel .wish-icon .fa-heart {
  color: #ff6161;
}

.star-rating li {
  padding: 0;
}

.star-rating i {
  font-size: 14px;
  color: #ffc000;
}

/* Formulario */
.contact__side {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #bd8e71;
  width: 90%;
  margin: 20px 0 20px 6%;
  border-radius: 20px;
}

.contacto {
  width: 90%;
  height: auto;
  margin: 7% 3%;
  border-radius: 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: #ECB390;
  padding-left: 30px;
  font-family: "Noto Sans", sans-serif;
}

.contacto__vid {
  background-color: rgb(216, 206, 165);
  width: 90%;
  margin-top: 15px;
  padding: 4% 3%;
  border-radius: 8px;
}

.contacto__vid2 {
  display: none;
}

.formulario input {
  background-color: whitesmoke;
  width: 90%;
  height: 35px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #ab4493;
  margin-top: 5px;
  padding-left: 5px;
  margin-bottom: 20px;
}

.formulario textarea {
  background-color: whitesmoke;
  width: 90%;
  height: 150px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #ab4493;
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
  padding-top: 15px;
}

.formulario label {
  display: block;
  float: center;
}

.formulario button {
  width: 90%;
  height: auto;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 20px;
  margin-top: 10px;
  text-transform: uppercase;
  background-color: #ab4493;
  border-color: #ab4493;
  border-style: solid;
  border-radius: 10px;
  cursor: pointer;
}

.formulario button p {
  color: whitesmoke;
}

.formulario span {
  color: #ab4493;
}

.aviso {
  font-size: 13px;
  color: #0e0e0e;
}

.formulario h1 {
  font-size: 2.4rem;
  padding-bottom: 20px;
  color: #ab4493;
}

.formulario h3 {
  font-size: 1.3rem;
  padding-bottom: 30px;
  color: #0e0e0e;
}

.formulario p {
  font-size: 1.2rem;
  color: #0e0e0e;
}

::-webkit-input-placeholder {
  color: #a8a8a8;
}

::-webkit-textarea-placeholder {
  color: #a8a8a8;
}

.formulario input:focus {
  outline: 0;
  border: 1px solid #19c26e;
}

.formulario textarea:focus {
  outline: 0;
  border: 1px solid #19c26e;
}

/* Acerca de */
.acerca {
  background-color: #bd8e71;
  margin: 3% 5%;
  padding: 4%;
  border-radius: 10px;
}

.ace__1 img {
  width: 50%;
  float: left;
  border-radius: 10px;
  margin-right: 10px;
  padding: 1%;
  background-color: rgb(148, 180, 159);
}

.ace__2 p {
  font-size: 1.2rem;
  font-family: "Oxygen", sans-serif;
  color: whitesmoke;
  text-align: justify;
}

.ace__2 h1 {
  font-size: 2rem;
  margin-bottom: 10px;
  color: whitesmoke;
}

.mapa {
  padding-top: 1%;
  background-color: #ECB390;
}

.mapa h1 {
  font-size: 2.3rem;
  margin-bottom: 10px;
  font-family: "Arima", cursive;
  color: whitesmoke;
  text-align: center;
}

.mapa iframe {
  height: 100%;
}

.ace__button {
  text-decoration: none;
  color: whitesmoke;
}

.titulo__button {
  text-decoration: none;
  font-family: "Arima", cursive;
  font-size: 1.5rem;
}

/* Index */
.bd-placeholder-img {
  font-size: 300;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.index-body {
  margin: 3%;
  border-radius: 10px;
  background-color: #bd8e71;
}

.font-index {
  font-family: "Arima", cursive;
  font-size: 3rem;
  color: whitesmoke;
}

.lorem-index {
  font-size: 1.2rem;
  font-family: sans-serif;
  color: whitesmoke;
}

.cont-p {
  font-size: 1.5rem;
  font-family: "Arima", cursive;
  font-weight: 580;
}

/* Footer */
.foot {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(0deg, rgb(148, 180, 159) 48%, rgb(183, 204, 184) 100%);
}
.foot h1 {
  padding: 0 15%;
  text-decoration: none;
  font-family: "Arima", cursive;
  color: #ECB390;
  font-size: 1.4rem;
}

.foot__logo {
  width: 40px;
  padding: 3px 0;
}

.foot__icon {
  width: 35px;
  padding-left: 10px;
}

/*# sourceMappingURL=main.css.map */
