@import url('https://fonts.googleapis.com/css2?family=Splash&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arima&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

$primaryFont: 'Noto Sans', sans-serif;
$keyFont: sans-serif;
$secondaryFont: 'Arima', cursive;
$lastFont: 'Oxygen', sans-serif;

$textLg: 3rem;
$textMd: 2rem;
$textSm: 1.5rem;

$textBold: 700;
$textRegular: 400;
$textLight: 300;