// vars globals

$marron:#bd8e71;
$l-marron: #ECB390;
$beige :rgba(216, 206, 165, 1);
$verde:rgba(148, 180, 159, 1);
$violeta:#ab4493;
$white:whitesmoke;
$black:#1b1b1b;
$car:#FCF8E8;



//sizing

$w-200: 200%;
$w-100: 100%;
$w-90: 90%;
$w-75: 75%;
$w-70: 70%;
$w-50: 50%;
$w-25: 25%;