/* Formulario */

.contact__side {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #bd8e71;
    width: $w-90;
    margin: 20px 0 20px 6%;
    border-radius: 20px;
}

.contacto {
    width: $w-90;
    height: auto;
    margin: 7% 3%;
    border-radius: 10px;
    padding-top: 30px;
    padding-bottom: 20px;
    background-color: $l-marron;
    padding-left: 30px;
    font-family: $primaryFont;
}

.contacto__vid {
    background-color: $beige;
    width: $w-90;
    margin-top: 15px;
    padding: 4% 3%;
    border-radius: 8px;
}

.contacto__vid2 {
    display: none;
}

.formulario input {
    background-color: $white;
    width: $w-90;
    height: 35px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: $violeta;
    margin-top: 5px;
    padding-left: 5px;
    margin-bottom: 20px;
}

.formulario textarea {
    background-color: $white;
    width: $w-90;
    height: 150px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: $violeta;
    margin-top: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
    padding-top: 15px;
}

.formulario label {
    display: block;
    float: center;
}

.formulario button {
    width: $w-90;
    height: auto;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 20px;
    margin-top: 10px;
    text-transform: uppercase;
    background-color: $violeta;
    border-color: $violeta;
    border-style: solid;
    border-radius: 10px;
    cursor: pointer;
}

.formulario button p {
    color: $white;
}

.formulario span {
    color: $violeta;
}

.aviso {
    font-size: 13px;
    color: #0e0e0e;
}

.formulario h1 {
    font-size: 2.4rem;
    padding-bottom: 20px;
    color: $violeta;
}

.formulario h3 {
    font-size: 1.3rem;
    padding-bottom: 30px;
    color: #0e0e0e;
}

.formulario p {
    font-size: 1.2rem;
    color: #0e0e0e;
}

::-webkit-input-placeholder {
    color: #a8a8a8;
}

::-webkit-textarea-placeholder {
    color: #a8a8a8;
}

.formulario input:focus {
    outline: 0;
    border: 1px solid #19c26e;
}

.formulario textarea:focus {
    outline: 0;
    border: 1px solid #19c26e;
}

/* Acerca de */
.acerca {
    background-color: #bd8e71;
    margin: 3% 5%;
    padding: 4%;
    border-radius: 10px;
}

.ace__1 img {
    width: 50%;
    float: left;
    border-radius: 10px;
    margin-right: 10px;
    padding: 1%;
    background-color: rgba(148, 180, 159, 1);
}

.ace__2 p {
    font-size: 1.2rem;
    font-family: 'Oxygen', sans-serif;
    color: whitesmoke;
    text-align: justify;
}

.ace__2 h1 {
    font-size: 2rem;
    margin-bottom: 10px;
    color: whitesmoke;
}

.mapa {
    padding-top: 1%;
    background-color: #ECB390;
}

.mapa h1 {
    font-size: 2.3rem;
    margin-bottom: 10px;
    font-family: 'Arima', cursive;
    color: whitesmoke;
    text-align: center;
}

.mapa iframe {
    height: 100%;
}

.ace__button {
    text-decoration: none;
    color: whitesmoke;
}

.titulo__button {
    text-decoration: none;
    font-family: 'Arima', cursive;
    font-size: 1.5rem;

}